<div class="container-fluid">
    <div class="row justify-content-center mt-5 h-100">
      <div class="col-6 text-center">
        <div class="main-header">
          <h1>Extract a document</h1>
        </div>
      </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-sm-8" style="margin-left: 100px;">
      <div class="card">
        <img class="card-img-top " style="width: 20rem; margin-left: 70%;" src="https://img2.pngio.com/birth-certificate-png-free-birth-certificatepng-transparent-flour-baby-birth-certificate-png-842_595.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <p class="card-text">
            An official document issued to record a person's birth and identify them by name, place, date of birth, and parentage.
            A birth certificate is a vital record that documents the birth of a person. The term "birth certificate" can refer to either the original document certifying the circumstances of the birth or to a certified copy of or representation of the ensuing registration of that birth. Depending on the jurisdiction, a record of birth might or might not contain verification of the event by such as a midwife or doctor.

The United Nations Sustainable Development Goal 17, an integral part of the 2030 Agenda, has a target to increase the timely availability of data regarding age, gender, race, ethnicity, and other relevant characteristics which documents like a birth certificate has the capacity to provide
          </p>
            <h5 class="card-title">Price: 700 millimes</h5>
          

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title timer">Estimated Waiting Time </h5>
          <span id="hours"> {{hoursToDday}} </span>Hrs 
          <span id="minutes"> {{minutesToDday}} </span>Min
          <span id="seconds"> {{secondsToDday}} </span>S
        </div>
      </div>
    </div>
  </div>
  <br>
  <button href="#" class="btn btn-default book d-md-flex justify-content-md-center">Book a ticket</button>
 