<ng-container *ngIf="this.bookRemoved | async">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      The Book Has Been Successfully Removed.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-container>
  <br> 
<div class="container-fluid">
    <div class="row justify-content-center mt-5 h-100">
      <ng-container *ngFor="let book of listOfBooks | async"  >
      <div class="col-6 text-center">
        <div class="main-header">
          <h2>{{book.Title}}</h2>
        </div>
      </div>
      </ng-container>
    </div>
  </div>
  <br> 
  <div class="row justify-content-center">
    <ng-container *ngFor="let book of listOfBooks | async"  >
      <div class="col-6 col-sm-3 justify-content-center">
      <img [src]="book.imagePath" [alt]="book.imagePath" class="bookImage" />
      </div>
      <div class="col-6 col-sm-5 justify-content-center">
        <div class="row ">
          <div>
            <span style="font-style: italic; text-decoration: underline; font-weight: bold;" >{{book.Author}}</span>
          </div>
        </div>
      <br>
        <div class="row ">
          <div>
            <span >{{book.description}}</span>
          </div>
        </div>
        <br>
        <div class="row ">
          <div>
            <span style="font-style: italic; text-decoration: underline;font-weight: bold;"> Category: {{book.category}}</span>
          </div>
        </div>
        <div class="row ">
          <div>
            <span style="font-style: italic; text-decoration: underline;font-weight: bold;">ISBN: {{book.ISBN}}</span>
          </div>
        </div>
        <div class="row ">
          <div>
            <span style="font-style: italic; text-decoration: underline;font-weight: bold;"> PublishDate: {{book.publishDate}}</span>
          </div>
        </div>
        <div class="row ">
          <div>
            <span style="font-style: italic; text-decoration: underline;font-weight: bold;"> PageCount: {{book.pageCount}}</span>
          </div>
        </div>
        <div class="row ">
          <div>
            <span style="font-style: italic; text-decoration: underline;font-weight: bold;">createdAt: {{book.createdAt}}</span>
          </div>
        </div>
        <div class="row ">
          <div>
            <span style="font-style: italic; text-decoration: underline;font-weight: bold;"> NumberOfCopies: {{book.NumberOfCopies}}</span>
          </div>
        </div>
      </div>
      <div >
      <button type="button" class="btn btn-danger " 
              (click)="deleteBook(book.ISBN)">Delete</button>
      <button type="button" class="btn btn-success" 
              (click)="goToReserve(book.ISBN)"> Reserve</button>
    </div>
    <!--routerLink='/detailsbook' routerLinkActive="active"-->
    
    </ng-container>
  </div>
  <br>
 