<div class="container-fluid">
  <div class="row justify-content-center mt-5 h-100">
    <div class="col-6 text-center">
      <div class="main-header">
        <h1>Private Firms </h1>
      </div>
    </div>
  </div>
</div>
<br>
<ng-container *ngIf="this.FirmRemoved | async">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      The Firm Has Been Successfully Removed.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-container>
  <div class="row justify-content-center">
    <ng-container *ngFor="let firm of listOfFirms | async"  >
      <div class="col-6 col-sm-4 justify-content-center mt-5 h-100">
      <img [src]="firm.imagePath" [alt]="firm.imagePath" class="firmImage" />
      <div>
        <span class="firmTitle">{{firm.Name}}</span>
      </div>
      <button type="button" class="btn btn-danger services justify-content-center" (click)="FirmServices(firm.Registration)" >Services</button>
    </div>
    </ng-container>
  </div>
 
  <br>
 