<div class="container-fluid">
    <div class="row justify-content-center mt-5 h-100">
      <div class="col-6 text-center">
        <div class="main-header">
          <h1>Certified copy</h1>
        </div>
      </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-sm-8" style="margin-left: 100px;">
      <div class="card">
        <img class="card-img-top " style="width: 20rem; margin-left: 60%;" src="https://appstickers-cdn.appadvice.com/1159561042/819086920/1599f62d93e78348a2ab8d067141471e-7.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <p class="card-text">A photocopy of a document, judgment, or record that is signed and attested to as an accurate and a complete reproduction of the original document by a public official in whose custody the original has been placed for safekeeping.

            A certified copy is admissible as evidence in a lawsuit when the original document cannot be produced because it has been lost or destroyed. This rule, which considers a certified copy to be secondary evidence unless circumstances of loss or destruction warrant its treatment as primary evidence, is known as the best evidence rule. 
            State and Federal Rules of Evidence govern the use of a certified copy in their respective judicial proceedings.</p>
            <h5 class="card-title">Price: 500 millimes</h5>
          

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title timer">Estimated Waiting Time </h5>
          <span id="hours"> {{hoursToDday}} </span>Hrs 
          <span id="minutes"> {{minutesToDday}} </span>Min
          <span id="seconds"> {{secondsToDday}} </span>S
        </div>
      </div>
    </div>
  </div>
  <br>
  <button href="#" class="btn btn-default book d-md-flex justify-content-md-center">Book a ticket</button>
 