<div class="container-fluid">
    <div class="row justify-content-center mt-5 h-100">
      <div class="col-6 text-center">
        <div class="main-header">
          <h2>Admin Panel System</h2>
        </div>
      </div>
    </div>
    <nav>
      <div class="imageContainer1" id="bg-pan-tl">
        <a id="vibrate-1" routerLink='/accountmanagement' routerLinkActive="active">Account Management</a>
      </div>
      <div class="imageContainer2 " id="bg-pan-tl">
        <a id="vibrate-1" routerLink='/firmsmanagement' routerLinkActive="active">Firm Management</a>
      </div>
      <div class="imageContainer2 " id="bg-pan-tl">
        <a id="vibrate-1" routerLink='/googleanalytics' routerLinkActive="active">Google Analytics</a>
      </div>
    </nav>
    <div class="row justify-content-center mt-4">
      <div class="col-6">
      </div>
    </div>
  </div>
  