<div class="container-fluid">
    <div class="row justify-content-center mt-5 h-100">
      <div class="col-6 text-center">
        <div class="main-header">
          <h2>Admin Panel System</h2>
        </div>
      </div>
    </div>
    <nav>
      <div class="row justify-content-center mt-10">
      <div class="card" style="width: 18rem;" class="col-3">
        <img src="https://lh3.googleusercontent.com/proxy/zNXPDy6g_jdFAFXiryKAtMmfdSrla2e8Mw6Jz5sED8t5Xvp4YaF4hQb6bHKvBCo3clCRD9__IjEtXvqvQA5eWCLXOthXUZNVbqQdwDVbZbBYuFcCDtHwvq8" class="card-img-top" alt="..." width="50px" height="400">
        <br>
        <div class="card-body" class="row justify-content-center mt-10">
          <a routerLink='/accountmanagement' routerLinkActive="active" class="btn btn-info">Accounts Management</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;" class="col-3">
        <img src="https://i.dlpng.com/static/png/6767758_preview.png" class="card-img-top" alt="..."width="50px" height="400">
        <br>
        <div class="card-body" class="row justify-content-center mt-10">
          <a routerLink='/firmsmanagement' routerLinkActive="active" class="btn btn-info">Firm Management</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;" class="col-3">
        <img src="https://www.nopcommerce.com/images/thumbs/0015915_google-analytics.png" class="card-img-top" alt="..." width="50px" height="400">
        <br>
        <div class="card-body" class="row justify-content-center mt-10">
          <a routerLink='/googleanalytics' routerLinkActive="active" class="btn btn-info">Google Analytics</a>
        </div>
      </div>
    

  </div>
  