<div class="container-fluid">
    <div class="row justify-content-center mt-5 h-100">
      <div class="col-6 text-center">
        <div class="main-header">
          <h2>Admin Panel System</h2>
        </div>
      </div>
    </div>
    <nav>
      <div class="row justify-content-center mt-10">
      <div class="card" style="width: 18rem;" class="col-3">
        <a href="https://imgbb.com/"><img src="https://i.ibb.co/09SNDSy/accmana.png" alt="accmana" border="0"></a>
        <br>
        <div class="card-body" class="row justify-content-center mt-10">
          <a routerLink='/accountmanagement' routerLinkActive="active" class="btn btn-info">Accounts Management</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;" class="col-3">
        <a href="https://imgbb.com/"><img src="https://i.ibb.co/WGpmGTn/firmmana.jpg" alt="firmmana" border="0"></a>        <br>
        <div class="card-body" class="row justify-content-center mt-10">
          <a routerLink='/firmsmanagement' routerLinkActive="active" class="btn btn-info">Firm Management</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;" class="col-3">
        <a href="https://imgbb.com/"><img src="https://i.ibb.co/FYvDwg5/googleana.png" alt="googleana" border="0"></a>        <br>
        <div class="card-body" class="row justify-content-center mt-10">
          <a routerLink='/googleanalytics' routerLinkActive="active" class="btn btn-info">Google Analytics</a>
        </div>
      </div>
    

  </div>
  