<ng-container *ngIf="this.bookRemoved | async">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    The Book Has Been Successfully Removed.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-container>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
        <th scope="col">description</th>
        <th scope="col">category</th>
        <th scope="col">publishDate</th>
        <th scope="col">pageCount</th>
        <th scope="col">createdAt</th>
        <th scope="col">NumberOfCopies</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let book of listOfBooks | async; let i = index;">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{book.Title}}</td>
          <td>{{book.Author}}</td>
          <td>{{book.ISBN}}</td>
          <td>{{book.description}}</td>
          <td>{{book.category}}</td>
          <td>{{book.publishDate}}</td>
          <td>{{book.pageCount}}</td>
          <td>{{book.createdAt}}</td>
          <td>{{book.NumberOfCopies}}</td>
          <td><button type="button" class="btn btn-danger" 
          (click)="deleteBook(book.ISBN)">Delete</button>
          </td>
          <div class="imageContainer2 " id="bg-pan-tl" style="text-align: right;">
      <a id="vibrate-1" routerLink='/seatsmanagement' routerLinkActive="active">Seats Management</a>
    </div>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success" 
    (click)="goToAdd()">Add Book</button>
  </div>

</div>
<br>
<div class="container-fluid">
  <div class="row justify-content-center mt-5 h-100">
    <div class="col-6 text-center">
      <div class="main-header">
        <h2>Reservation Management System</h2>
      </div>
    </div>
  </div>
</div>
<br>
<ng-container *ngIf="this.reservationRemoved | async">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    The Reservation Has Been Successfully Removed.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-container>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">startDay</th>
        <th scope="col">endDay</th>
        <th scope="col">ISBN</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let Reservation of listOfReservation | async; let i = index;">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{Reservation.startDay}}</td>
          <td>{{Reservation.endDay}}</td>
          <td>{{Reservation.ISBN}}</td>
          <td><button type="button" class="btn btn-danger" 
          (click)="deleteReservation(Reservation.ISBN)">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success" 
    (click)="goToReserve()"> Reserve</button>
  </div>

</div>