<div class="container-fluid">
    <div class="row justify-content-center mt-5 h-100">
      <div class="col-6 text-center">
        <div class="main-header">
          <h2>Library Management System</h2>
        </div>
      </div>
    </div>
    <nav>
      <div class="imageContainer1" id="bg-pan-tl">
        <a id="vibrate-1" routerLink='/signature' routerLinkActive="active">Sign a document</a>
      </div>
      <div class="imageContainer2 " id="bg-pan-tl" style="text-align: right;">
        <a id="vibrate-1" routerLink='/copieconforme' routerLinkActive="active">Certified copy</a>
      </div>
      <div class="imageContainer3 " id="bg-pan-tl" style="text-align: right;">
        <a id="vibrate-1" routerLink='/extractdocument' routerLinkActive="active">Extract a document</a>
      </div>
    </nav>
    <div class="row justify-content-center mt-4">
      <div class="col-6">
      </div>
    </div>
  </div>