<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row justify-content-center mt-5 h-100">
    <div class="col-6 text-center">
      <div class="main-header">
        <h2>Add New Reservation</h2>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-3">

      <ng-container *ngIf="this.reservationAdded | async">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          The Book Has Been Successfully Reserved.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </ng-container>

      <form [formGroup]="reservationForm" (ngSubmit)="onSubmit(reservationForm.value)">
        <div class="form-group">
            <label for="reservationStartdate">Start Date</label>
            <input type="date" class="form-control" id="reservationStartdate" placeholder="Start Date" formControlName="startDay">
        </div>
        <div class="form-group">
            <label for="reservationEnddate">End Date</label>
            <input type="date" class="form-control" id="reservationEnddate" placeholder="End Date" formControlName="endDay">
        </div>
        <div class="form-group">
          <label for="reservationISBN">ISBN</label>
          <input type="number" class="form-control" id="reservationISBN" placeholder="ISBN" formControlName="ISBN">
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit" (ngSubmit)="onSubmit(reservationForm.Value)">Submit</button>
      </form>
      <div class="btn-group mt-1" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="goBack()">Return</button>
      </div>
    </div>
  </div>
</div>
