<div class="container-fluid">
  <div class="row justify-content-center mt-5 h-100">
    <div class="col-6 text-center">
      <div class="main-header">
        <h1>Public Firms </h1>
      </div>
    </div>
  </div>
</div>
<br>

  <div class="row justify-content-center">
    <ng-container *ngFor="let firm of listOfFirms | async"  >
      <div class="col-6 col-sm-4 justify-content-center">
      <img [src]="firm.imagePath" [alt]="firm.imagePath" class="firmImage" />
      <div>
        <span class="firmTitle">{{firm.Name}}</span>
      </div>
      <button type="button" class="btn btn-danger services justify-content-center" (click)="FirmServices(firm.Registration)" >Services</button>
    </div>
    </ng-container>
  </div>
 
  <br>
 