<div class="container-fluid">
    <div class="row justify-content-center mt-5 h-100">
      <div class="col-6 text-center">
        <div class="main-header">
          <h2>Firms Management System</h2>
        </div>
      </div>
    </div>

<br>

<ng-container *ngIf="this.FirmRemoved | async">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      The Firm Has Been Successfully Removed.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-container>
  
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Sector</th>
          <th scope="col">Industry</th>
          <th scope="col">Public or Private</th>
          <th scope="col">Address</th>
          <th scope="col">Registration</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let Firm of listOfFirms | async; let i = index;">
          <tr>
            <th scope="row">{{i}}</th>
            <td>{{Firm.Name}}</td>
            <td>{{Firm.Sector}}</td>
            <td>{{Firm.Industry}}</td>
            <td>{{Firm.PublicPrivate}}</td>
            <td>{{Firm.Address}}</td>
            <td>{{Firm.Registration}}</td>
            <td>{{Firm.Email}}</td>
            <td><button type="button" class="btn btn-danger" 
            (click)="deleteFirm(Firm.Registration)">Delete</button>
            </td>
            <td><button type="button" class="btn btn-primary" 
                (click)="deleteUser(user.universityID)">Edit</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" 
        (click)="AddFirm()">Add Firm</button>
      </div>
    
  </div>
  <br>
 